{% extends 'inner.html' %}
{% block body %}
{% load static %}


 <!-- Doctors Section -->
    <section id="doctors" class="doctors section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Doctors</h2>
        <p>These are some of our professional frontline doctors.See our Doctors</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="{% static 'templates/assets/img/doctors/doctors-1.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>EMILIA BAYA</h4>
                <span>Chief Medical Officer</span>
                <p>Dr. Emilia Baya is a renowned pediatrician with over 30 years of experience in caring for children of all ages, from newborns to adolescents.
She is known for her gentle demeanor and ability to establish strong rapport with both children and parents.
Dr. Chen is committed to promoting children's health through preventive care, vaccinations, and early intervention for developmental issues.</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="{% static 'templates/assets/img/doctors/doctors-2.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>SAMSON OSAMA</h4>
                <span>Anesthesiologist</span>
                <p>Dr. Samson Osama is a highly skilled cardiologist with over 20 years of experience in diagnosing and treating cardiovascular diseases.
He is known for her expertise in interventional cardiology procedures, including angioplasty and stent placement.
Dr. Patel is dedicated to providing compassionate care to her patients and staying up-to-date with the latest advancements in cardiology.</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="{% static 'templates/assets/img/doctors/doctors-3.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>DAVID GUETTA</h4>
                <span>Cardiology</span>
                <p>Dr. David Guetta is an esteemed oncologist with extensive experience in the diagnosis and treatment of various types of cancer.
He is recognized for his compassionate approach to patient care and his commitment to personalized treatment plans tailored to each individual.
Dr. Nguyen is actively involved in clinical research and is passionate about exploring innovative therapies to improve cancer outcomes.</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="{% static 'templates/assets/img/doctors/doctors-4.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>BRYSON OHIO</h4>
                <span>Neurosurgeon</span>
                <p>Dr. Bryson Ohio is a respected orthopedic surgeon with a specialization in sports medicine and joint replacement surgery.
With over 25 years of experience, he has performed numerous successful surgeries to restore mobility and alleviate pain in patients with orthopedic conditions.
Dr. Thompson is dedicated to helping his patients regain function and quality of life through comprehensive orthopedic care and rehabilitation.</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Doctors Section -->
{% endblock %}